<%- include("partials/header.ejs") %>

<!--------------------------------------------------------------------------------------------->

<head>
  <link rel="stylesheet" href="css/styles_home.css">
</head>

<!--------------------------------------------------------------------------------------------->
<section id="Title">
    <div class="hero" id="top">
    <div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="images/hero_2.jpg" class="d-block mx-lg-auto img-fluid profile-pic" alt="Bootstrap Themes" width="400"  height="400" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h5 style="font-size: 2.5rem;">Welcome to the Wedding of  </h5>
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mt-3 heading" style="font-size: 5.3rem;">Abhinav & Shital</h1>
          <h2>(#Abhisha)</h2>
          <h3 class="lead mt-4" style="font-size: 2.1rem;"><strong>Because apparently, planning a wedding is how adults profess their love.</strong></h3>
          <p class="description mt-4" style="font-size: 1.85rem;">We are finally legally binding our love!</p>
          <p class="description fw-bold text-body-emphasis" style="color: white;font-size: 1.6rem;">(& finances - mostly for the gifts)</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          </div>
        </div>
        </div>
      </div>
    </div>
</section>

<!--------------------------------------------------------------------------------------------->

<section id="Our-Story">
  <div class="container mt-3 " >
    <div class="p-3 pb-md-4 mx-auto text-center">
      <h2 class="fw-bold text-body-emphasis" style="font-family: 'Pinyon Script', cursive; color: #724393;font-size: 4.5rem ;">Humari Kahani </h2>
        <p class="fs-5 text-body-secondary" style="font-size: 1.8rem !important;">(Nahi bataenge, nazar lag jaega)</p>
      </div>
    </div>
</section>

<!--------------------------------------------------------------------------------------------->




<!--------------------------------------------------------------------------------------------->

<section id="Events">
  <div class="container mt-5">
    <div class="p-3 pb-md-4 mx-auto text-center">
      <h2 class="fw-bold" style="font-family: 'Pinyon Script', cursive; color: #000000;font-size: 4.35rem;">Wedding Events Schedule</h2>
      <p class="lead" style="color: #5C5C5C; font-size: 1.5rem;">-(Jam-Packed Schedule hai, aa-jana please paisa laga hai)-</p>
    </div>

    <div class="d-flex justify-content-center">
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-content" style="text-align: center;">
            <h5 class="fw-bold text-body-emphasis">
              Mehendi <span style="font-weight: normal; color: #5C5C5C;">- 19<sup>th</sup></span>
            </h5>
            <p>Time: 12:00 PM</p>
            <p><strong>Dress Code</strong> : Vibrant hues of blooming gardens and radiant sunshine—think bright, cheerful, and lively!</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-content" style="text-align: center;">
            <h5 class="fw-bold text-body-emphasis">
              Pool Party <span style="font-weight: normal; color: #5C5C5C;">- 19<sup>th</sup></span>
            </h5>
            <p>Time: 1:30 PM</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-content" style="text-align: center;">
            <h5 class="fw-bold text-body-emphasis">
              Sangeet <span style="font-weight: normal; color: #5C5C5C;">- 19<sup>th</sup></span>
            </h5>
            <p>Time: 6:00 PM</p>
            <p><strong>Dress Code</strong>: Your finest formal or ethnic elegance</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-content" style="text-align: center;">
            <h5 class="fw-bold text-body-emphasis">
              Bachelor Party  <span style="font-weight: normal; color: #5C5C5C;">- 19<sup>th</sup></span>
            </h5>
            <p>Time: 11:00 PM</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-content" style="text-align: center;">
            <h5 class="fw-bold text-body-emphasis">
              Beach <span style="font-weight: normal; color: #5C5C5C;">- 20<sup>th</sup></span>
            </h5>
            <p>Time: 6:00 AM</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-content" style="text-align: center;">
            <h5 class="fw-bold text-body-emphasis">
              Haldi <span style="font-weight: normal; color: #5C5C5C;">- 20<sup>th</sup></span>
            </h5>
            <p>Time: 12:00 PM</p>
            <p><strong>Dress Code</strong>: Richness of nature with deep, earthy tones that exude timeless beauty and charm.</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-content" style="text-align: center;">
            <h5 class="fw-bold text-body-emphasis">
              Jaimala <span style="font-weight: normal; color: #5C5C5C;">- 20<sup>th</sup></span>
            </h5>
            <p>Time: 6:00 PM</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-content" style="text-align: center;">
            <h5 class="fw-bold text-body-emphasis">
              Shaadi <span style="font-weight: normal; color: #5C5C5C;">- 20<sup>th</sup></span>
            </h5>
            <p>Time: 8:00 PM</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!--------------------------------------------------------------------------------------------->



<%- include("partials/footer.ejs") %>

