<%- include('partials/header.ejs') %>

<head>
    <link rel="stylesheet" href="css/styles_password.css">
</head>

<section>
    <form action="/check_password" method="POST" style="margin-top: 64px;">
        <label for="password">Enter Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit" style="border-radius: 16px;">Submit</button>
    </form>
</section>

<%- include('partials/footer.ejs') %>