<%- include("partials/header.ejs") %>

<!------------------------------------------------------------------------->

<head>
    <link rel="stylesheet" href="css/styles_waiting.css">
</head>


<section class="center-section">
    <div>
        <h1 style="font-size: 4.5rem;">Wait karo, photos aaya nahi hai abhi tak guys...</h1>
    </div>
</section>